body {
    text-align: center;
background-color: black;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(77, 150, 224);
}

#origami1{
  background: linear-gradient(red,white,orangered);
}

#origami2{
    background: linear-gradient(red,white,orangered);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}